.container.home
  .row
    .col-md-9
      h1 合租房租计算器
      button.btn.btn-primary(
        @click="showModal = true"
        v-if="baseInfoFilled"
      ) 保存当前方案
      h3 基本信息
      form.form
        div.form-group
          label(for="square") 室内总面积 ( ㎡ ) 
          input(type="number" class="form-control" id="square" placeholder="输入总面积"  v-model.number="square")
        div.form-group
          label(for="rent") 月租金(元)
          input(type="number" class="form-control" id="rent" placeholder="输入总租金" v-model.number="rent")

        div.form-group
          label(for="roomQuantity") 房间数量
          input(type="number" class="form-control" id="roomQuantity" placeholder="输入房间数量" v-model.number="roomQuantity")
      template(v-if="baseInfoFilled")
        hr
        h3 房间信息
        form.form
          div(
            class="form-group"
            v-for="(room, i) in rooms"
          )
            label(for="squard") 房间 {{ room.index }}# 面积(㎡)
            input(type="number" class="form-control" id="squard" :placeholder="`输入房间${room.index}#面积`" v-model.number="rooms[i].square")
        hr
        h3 房租方案
          span 保存方案
        h4 只按房间面积均摊
        table.table
          thead
            tr
              th #编号
              th 面积
              th 月租
          tbody
            tr(v-for="rent in basedOnRoomsOnly")
              th(scope="row") {{ rent.index }}
              th(scope="row") {{ rent.square }} ㎡
              td ￥ {{ rent.rent }}

        h4 房间面积结合公共空间
        table.table
          thead
            tr
              th #编号
              th 面积
              th 月租
              th 私人月租
              th 公共月租
          tbody
            tr(v-for="rent in publicShared")
              th(scope="row") {{ rent.index }}
              th(scope="row") {{ rent.square }}㎡
              td ￥ {{ rent.rent }}
              td ￥ {{ rent.privateRent }}
              td ￥ {{ rent.publicRent }}
  modal(
    ref="modal"
    :showModal="showModal"
    @confirm="confirmSave"
  )